<div>
    <h1>Tabla de Multiplicar</h1>
    <form #multiplicarForm="ngForm">
        <label>Número:</label>
        <input type="number" name="cajanumero" #cajanumero /> <br />

        <button (click)="multiplicarNumero()">
            Multiplicar
        </button>
    </form>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>Multiplicador</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultados">
                <td>{{this.cajanumero.value}} x {{ item.multiplicador }}</td>
                <td>{{ item.resultado }}</td>
            </tr>
        </tbody>
    </table>
</div>