<div>
    <h1>Forms Binging Model</h1>
    <h2>{{mensaje}}</h2>
    <!-- EL FORMULARIO DEBE DE TENER UN ID DE ANGULAR IGUAL A ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
        <label>Nombre: </label>
        <!-- LOS CONTROLADORES DE FORMULARIO DEBEN DE TENER UN ID DE ANGULAR COMO VALOR ngModel
        PARA INDICAR EL MODEL BINDING DEBEMOS HACERLO CON LA SIGUIENTE SINTAXIS [(ngModel)]="mi modelo" -->
        <input type="text" name="cajanombre" #cajanombre="ngModel" [(ngModel)]="user.nombre"><br />

        <label>Apellidos</label>
        <input type="text" required name="cajaapellido" #cajaapellido="ngModel" [(ngModel)]="user.apellido"><br />

        <label>Edad</label>
        <input type="number" name="cajaedad" #cajaedad="ngModel" [(ngModel)]="user.edad"><br />
        <button [disabled]="!userForm.valid">
            Enviar datos
        </button>
    </form>
    <h2>
        Nombre: {{user.nombre}},
        Apellidos: {{user.apellido}},
        Edad: {{user.edad}}
    </h2>
</div>